<%- include("./partials/header" ) %>
  <%- include("./partials/navbar" ) %>

  <table class="table is-narrow is-hoverable" id="leaderboard">
    <thead>
        <tr>
            <th class="rank"><abbr title="Position">Rank</abbr></th>
            <th class="name">Name</th>
            <th class="symbol">Symbol</th>
            <th class="price">Price(USD)</th>
            <th class="market_cap">Market Cap</th>
            <th class="circulating_supply">Circulating Supply</th>
            <th class="volume_24h">Volume(24h)</th>
            <th class="percent_change_24h">24h %</th>
        </tr>
    </thead>
    <br>
    <tbody>
        <% value.forEach(function(value) { %>;
        <td></td>
        <td><%= value.name %></td>
        <td><%= value.symbol %></td>
        <td><%= value.quote.USD.price %></td>
        <td><%= value.symbol %></td>
        <td><%= value.circulating_supply %></td>
        <td><%= value.quote.USD.volume_24h %></td>
        <td><%= value.quote.USD.percent_change_24h %></td>
    </tbody>  
    <% }); %>
</table>
 


  <%- include("./partials/footer" ) %>